!!! 5
%html
  %head
    %title Booze &Eacute;poque
    %meta(charset='UTF-8')
    %link(rel='icon' type='image/png' href='images/favicon.png')
    %link(rel='stylesheet' href='reset.css')
    %link(rel='stylesheet' href='main.css')
  %body
    %img.redhead(src='images/redhead-500x630.png' alt='')
    %img.brunette(src='images/brunette-500x630.png' alt='')

    #main-container.center
      #main
        %h1
          Booze &Eacute;poque
        %br
        %h3
          boutique cocktails and spirit alchemy
          %br
          boston, massachusetts
        %br
        %p
          Meaghan and Harmony
          %br
          %a(href='mailto:events@boozeepoque.com') events@boozeepoque.com
          |
          %a(href='http://twitter.com/#!/boozeepoque') @boozeepoque
          |
          %a(href='https://www.facebook.com/pages/Booze-%C3%89poque/335482893191739') facebook

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31731034-1']);
      _gaq.push(['_setDomainName', 'boozeepoque.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

