!!! 5
%html
  %head
    %title Booze &Eacute;poque
    %meta(charset='UTF-8')
    %link(rel='icon' type='image/png' href='images/favicon.png')
    %link(rel='stylesheet' href='reset.css')
    %link(rel='stylesheet' href='main.css')
    :javascript
      // hide sections other than #home, unless JS is unavailable
      (function(){
        var sheet = document.styleSheets[0];
        if (sheet.addRule) {
          // IE
          sheet.addRule('.hidden', 'visibility:hidden;display:none;', 0);
        } else if (sheet.insertRule) {
          // everyone else
          sheet.insertRule('.hidden{visibility:hidden;display:none;}', 0);
        }
      })();

  %body
    %img.redhead(src='images/redhead-500x630.png' alt='')
    %img.brunette(src='images/brunette-500x630.png' alt='')

    #main-container
      #main
        %h1
          Booze &Eacute;poque

        %nav
          %a(href='#home') home
          |
          %a(href='#about') about

        #home
          %h3
            .what  boutique cocktails and spirit alchemy
            .where cambridge, massachusetts

        #about.hidden
          %p
            Booze Époque, a traveling high-end bartending service in the
            Greater Boston area, was conceptualized in 2011 by long-time
            friends Harmony Dawn and Meaghan Sinclair and launched in Spring
            of 2012. Inspired by the local food movement, nature walks and
            late night cocktails, Booze Époque crafts artful boutique
            beverages using fresh, seasonal ingredients for an array of
            parties and events.
          %p
            Driven by a desire to create splendid libations Meaghan and
            Harmony began experimenting with recipes focusing on strength
            of spirits, fresh fruits and homegrown herbs. Also inspired by
            years of hosting dinner parties, traveling, and fine dining
            they decided to embark on the journey of growing a business
            that delivers farm-to-table cocktail service directly to their
            clients.
          %p
            They are available for a wide range of events from garden
            soirées to art openings to black tie affairs to record release
            parties. BÉ offers several menus to choose from and also
            encourages creative collaboration with clients to assemble
            custom menus in a variety of price ranges.
          %p
            A sample of our menu concepts:
          %ul
            %li Flower Drinks
            %li Tea Infusions
            %li Farm to Table
            %li Cocktails on Fire
            %li Prohibition Era
            %li Seasonal/Holiday
            %li Champagne Cocktails
            %li Tiki Drinks
            %li La Belle Époque
            %li Porch Drinks
          %br
          %p
            BÉ is insured with both Liquor and General Liability Insurance
            and Meaghan and Harmony are TIPS certified.
          %p
            Email Meaghan and Harmony with questions or event inquiries at:
            %a(href='mailto:events@boozeepoque.com') events@boozeepoque.com
            or call
            <a href='tel:1-857-600-1323'>857-600-1323</a>.
          %p &nbsp;

        %footer
          .who Meaghan and Harmony
          .links
            %a(href='mailto:events@boozeepoque.com') events@boozeepoque.com
            |
            %a(href='http://twitter.com/#!/boozeepoque') @boozeepoque
            |
            %a(href='https://www.facebook.com/pages/Booze-%C3%89poque/335482893191739') facebook

    %script(src='js/jquery-1.7.1.min.js')
    %script(src='js/main.js')
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31731034-1']);
      _gaq.push(['_setDomainName', 'boozeepoque.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

