!!! 5
%html
  %head
    %link(rel='stylesheet' href='reset.css')
    %link(rel='stylesheet' href='main.css')
  %body
    %img.redhead(src='images/redhead-500x630.png')
    %img.brunette(src='images/brunette-500x630.png')

    #main-container.center
      #main
        %h1
          Booze &Eacute;poque
        %br
        %h3
          boutique cocktails and spirit alchemy
        %br
        %p
          email Meaghan and Harmony at
          %br
          %a(href='mailto:events@boozeepoque.com') events@boozeepoque.com
