@font-face {
  font-family: 'Fletcher';
  src: url("fonts/fletcher.eot");
  src: local("Fletcher"), url("fonts/fletcher.ttf") format("truetype"), url("fonts/fletcher.svg#font") format("svg"); }

nav, #home, h1, h2, h3, h4, footer {
  font-family: "Fletcher", "Century Schoolbook", "Georgia", "Palatino", serif;
  font-size: 125%; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: #555; }

h1 {
  font-size: 436%; }

h2 {
  font-size: 164%; }

h3 {
  font-size: 145%; }

h4 {
  font-size: 118%; }

h1, h2, h3, h4 {
  display: block; }

html {
  background-color: white; }

body {
  width: 960px;
  margin: 10px auto 10px auto;
  color: black;
  font-family: "Century Schoolbook", "Georgia", "Palatino", serif;
  font-size: 18px;
  line-height: 1.25;
  position: relative; }

nav {
  font-size: 100%; }
  nav a {
    padding: 2px; }
  nav a.selected {
    color: black;
    background-color: rgba(0, 0, 0, 0.1); }

footer {
  margin-bottom: 20px; }

.transition {
  -webkit-transition: top ease-in-out 0.5s;
  -moz-transition: top ease-in-out 0.5s;
  transition: top ease-in-out 0.5s; }

#main-container {
  text-align: center;
  position: relative;
  top: 25px; }

#main-container.home {
  top: 125px; }

#main {
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  width: 640px;
  margin: 0px auto 20px auto;
  padding: 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  #main h1, #main h2, #main h3, #main h4, #main p {
    padding: 10px; }
    #main h1 > div, #main h2 > div, #main h3 > div, #main h4 > div, #main p > div {
      display: block; }

img.redhead, img.brunette {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 630px; }

img.redhead {
  left: -15%; }

img.brunette {
  right: -15%; }

#main > div {
  margin: 20px; }

#about img.ginger {
  width: 600px;
  height: 450px;
  margin: 10px auto; }
#about img.ladies {
  width: 600px;
  height: 600px;
  margin: 10px auto; }
#about ul.right, #about ul.left {
  display: inline-block;
  width: 40%;
  margin: 10px 0px 20px 0px; }

#blog {
  text-align: left; }
  #blog .date {
    text-align: center;
    font-size: 90%; }
  #blog .tumblr-post {
    position: relative;
    padding-bottom: 20px;
    border-bottom: 1px dotted #999;
    margin: 10px 10px 10px 10px; }

#testimonials {
  text-align: left; }
  #testimonials .testimonial {
    display: block;
    clear: both;
    margin: 10px 20px 40px 20px; }
    #testimonials .testimonial .by {
      margin: 10px 0px 40px 40px;
      font-weight: bold;
      font-style: italic; }
