// css reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

@font-face {
  font-family: 'Fletcher';
  src: url('/fonts/fletcher.eot');
  src: local('Fletcher'),
       url('/fonts/fletcher.ttf') format('truetype'),
       url('/fonts/fletcher.svg#font') format('svg');
}

nav, #home, h1,h2,h3,h4, footer {
  font-family: "Fletcher", "Century Schoolbook", "Georgia", "Palatino", serif;
  font-size: 125%;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: #555;
}

h1 { font-size: 436%; }
h2 { font-size: 164%; }
h3 { font-size: 145%; }
h4 { font-size: 118%; }
h1,h2,h3,h4 {
  display: block;
}


html {
  background-color: #fcfcfc;
}

body {
  width: 960px;
  margin: 10px auto 10px auto;
  color: black;
  font-family: "Century Schoolbook", "Georgia", "Palatino", serif;
  font-size: 18px;
  line-height: 1.25;
  position: relative;
}

nav {
  font-size: 100%;
  a {
    padding: 2px;
  }
  a.selected {
    color: black;
    background-color: rgba(0,0,0, 0.1);
  }
}

footer {
  margin-bottom: 20px;
}


@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  transition: $params;
}

.transition {
  @include transition(top ease-in-out 0.5s);
}

#main-container {
  text-align: center;
  position: relative;
  top: 25px;
}

#main-container.home {
  top: 80px;
}

$main_width: 640px;
#main {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  width: $main_width;
  margin: 0px auto 20px auto;
  padding: 10px 0px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  h1,h2,h3,h4,p {
    padding: 10px;
    & > div {
      display: block;
    }
  }
}

img.redhead, img.brunette {
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 630px;
}
img.redhead  { left: -15%;  }
img.brunette { right: -15%; }

#main > div {
  margin: 20px;
  margin-bottom: 40px;
  a {
    text-decoration: underline;
  }
  img {
    max-width: $main_width - 40px;
    margin: 10px auto;
  }
}

#main > #about {
  img.ginger {
    width: 600px;
    height: 450px;
    margin: 10px auto;
  }
  img.ladies {
    width: 600px;
    height: 600px;
    margin: 10px auto;
  }
  ul.right, ul.left {
    display: inline-block;
    width: 40%;
    margin: 10px 0px 20px 0px;
  }
}

#main > #blog {
  text-align: left;
  h2.title {
    text-align: center;
    background-color: rgba(200,200,200,0.3);
  }
  .date {
    text-align: right;
    font-style: italic;
    font-size: 90%;
  }
  .tumblr-post {
    padding-bottom: 20px;
    border-bottom: 1px dotted #999;
    margin: 10px;
  }
}

#main > #menus {
  dl {
    margin-top: 20px;
    dt {
      font-weight: bold;
    }
    dd {
      font-style: italic;
      margin-bottom: 20px;
    }
  }
}

#main > #vendors {
  a {
    display: block;
    text-decoration: none;
    margin: 10px auto;
  }
  .title {
    margin-top: 10px;
    font-weight: bold;
  }
}

#main > #testimonials {
  text-align: left;

  .testimonial {
    display: block;
    clear: both;
    margin: 10px 20px 40px 20px;
    .by {
      margin: 10px 0px 40px 40px;
      font-weight: bold;
      font-style: italic;
    }
  }
}
