#about.hidden

  %p Booze Époque creates whimsical and classic cocktails using fresh, local, organic, and seasonal ingredients for restaurants, bars, private parties, and special events. BÉ has also taught a variety of original cocktail classes ranging from Tequila & Mezcal to Cocktails & Literature.

  %p Meaghan and Harmony, Booze Époque’s founders, have been featured in Edible Boston, Boston Magazine, Boston.com, Garden.org, and many other publications. They have brought their craft to desert enclaves, high rises, startups, garden parties, art galleries, rock shows, hoedowns, dinner soirées, barbeques, holiday affairs, bachelorette parties, weddings, and more.

  %img(src='/images/equinoxpunch.jpg')

  %p Each BÉ cocktail menu is customized and tailored to complement and enhance your aesthetic whether we're developing a new cocktail program for your business or consulting on a signature drink for your corporate event or wedding.

  %p Booze Époque is available for restaurant consultation including, menu planning and creation, staff training practices, basic bar infrastructure and set-up.  Booze Époque's creativity and intimate knowledge of spirits, current drink trends, and the industry will set in place the building blocks any bar program needs for success.

  %p
    Email Booze Époque with questions or consultation requests at:
    <a target="_blank" href="mailto:events@boozeepoque.com">events@boozeepoque.com</a>.

  %p
    For event inquiries please fill out the form
    <a class="to-section" href="#contact">on our contact page</a>.

  %img(src='/images/boozeepoqueaboutpage.jpg')

  %p.caption
    Photos by
    %a(href='http://raniamatar.com' target='_blank') Rania Matar

