#about.hidden

  %p Booze Époque is Boston’s first licensed and insured craft cocktail catering service. BÉ creates whimsical and classic cocktails using fresh, local, organic, and seasonal ingredients for private parties and special events. BÉ also teaches a variety of cocktail classes ranging from Tequila & Mezcal to Cocktails & Literature.

  %p Meaghan and Harmony, Booze Époque’s founders, have been featured in Edible Boston, Boston Magazine, Boston.com, Garden.org, and many other publications. They have brought their craft to desert enclaves, high rises, startups, garden parties, art galleries, rock shows, hoedowns, dinner soirées, barbeques, holiday affairs, bachelorette parties, weddings, and more.  

  %img(src='/images/equinoxpunch.jpg')

  %p Each menu is customized and tailored to complement and enhance the aesthetic of your event, whether a black tie dinner or a punk rock wedding.

  %p Handcrafted syrups, shrubs, bitters, tinctures, and garnishes are created in a licensed and certified kitchen: Kitchen, Inc in Somerville’s vibrant Union Square.  Using the freshest ingredients and highest quality spirits, Booze Époque ensures you and your guests will enjoy the most beautiful flavors the season has to offer.

  %img(src='/images/boozeepoqueaboutpage.jpg')

  %p.caption
    Photo by
    %a(href='http://raniamatar.com' target='_blank') Rania Matar

  %p In addition to event catering, Booze Époque offers a variety of cocktail classes for groups from six to thirty, either in our kitchen or your home or office.  BÉ is also available for menu and event consultation.

  %p For your protection, Booze Époque is insured with a $2,000,000 liquor and general liability insurance policy. BÉ carries a MA catering license and is licensed by the Massachusetts Alcoholic Beverage Control Commission to transport, serve, and sell alcoholic beverages. All Booze Époque employees are TIPS and ServSafe certified.

  %p
    Email Booze Époque with questions at:
    <a target="_blank" href="mailto:events@boozeepoque.com">events@boozeepoque.com</a>.

  %p
    For event inquiries please fill out the form
    <a class="to-section" href="#contact">on our contact page</a>.

