#about.hidden
  %p
    Booze Époque is a boutique bartending catering company servicing the Greater Boston area.  They create whimsical cocktails using fresh, local, organic, and seasonal ingredients for private parties and special events.

  %p
    Meaghan and Harmony, Booze Époque’s founders, have brought their craft to desert enclaves, garden parties, art galleries, rock shows, hoedowns, dinner soirées, holiday affairs, bachelorette parties, weddings and more.

  %img(src='/images/equinoxpunch.jpg')

  %p
    Using handcrafted syrups, garnishes, shrubs, bitters, and tinctures along with fresh ingredients and high quality spirits, Booze Époque ensures you and your guests will enjoy the most beautiful flavors the season has to offer.

  %p
    BÉ encourages creative collaboration with our clients. Each menu is customized and tailored to complement and enhance the aesthetic of your special event.

  %img(src='/images/haireparty.jpg')

  %p
    In addition to event catering, Booze Époque is available for beverage menu consultation, signature drink creation, and private craft cocktail workshops and parties.

  %p
    BÉ is insured with both liquor and general liability insurance.  BÉ carries a catering license and is licensed by the Alcoholic Beverage Control Commission to transport, serve, and sell alcoholic beverages.  Meaghan and Harmony are TIPS and ServSafe Manager certified. 

  %p
    Email Booze Époque with questions at:
    <a target="_blank" href="mailto:events@boozeepoque.com">events@boozeepoque.com</a>.

  %p
    For event inquiries please fill out the form
    <a class="to-section" href="#contact">on our contact page</a>.

  %p &nbsp;
