#about.hidden
  %p
    Booze Époque, a boutique bartending service in the Greater Boston area, creates whimsical cocktails using local, organic, and seasonal ingredients for private parties and special events.

  %p
    Meaghan Q. Sinclair and Harmony Dawn, Booze Époque’s founders, have brought their craft to desert enclaves, garden parties, art galleries, rock shows, hoedowns, dinner soirées, holiday affairs, bachelorette parties, weddings and beyond. 

  %p
    Using handcrafted syrups, garnishes, shrubs, bitters, and tinctures along with fresh ingredients and high quality spirits, Booze Époque ensures you and your guests will enjoy the most beautiful flavors the season has to offer. 

  %p
    BÉ encourages creative collaboration with our clients and can work within a wide price range. Each party is customized and tailored to your needs and desires. 

  %p
    In addition to special event catering, Booze Époque is available for beverage menu consultation, signature drink creation, and private craft cocktail workshops and parties.

  %p
    BÉ is insured with both Liquor and General Liability Insurance, and Meaghan and Harmony are TIPS and ServSafe Manager certified. 

  %p
    Email Meaghan and Harmony with questions or event inquiries at:
    %a(href="mailto:events@boozeepoque.com") events@boozeepoque.com
    or call
    <a href="tel:857-600-1323">857-600-1323</a>.

  %p &nbsp;
