#classes.hidden

  %p If you're looking for a unique activity for a bachelorette, birthday, or holiday party or a fun team building exercise for your corporate event, Booze Époque's cocktail and bartending classes can be customized to fit almost any gathering! We can come to your home or office or host at our space at Kitchen, Inc. Contact us for more information at events@boozeepoque.com. Participants must be 21 or older.

  -#%p Public cocktail classes are over for the summer, but stay tuned for more classes in both Somerville and Martha’s Vineyard in September.  If you’d like to book a private summer class contact us at <a href="mailto:events@boozepoque.com" target="_blank">events@boozeepoque.com</a>.

  %h2 Somerville Classes:

  %p The following are classes held in our kitchen space, Kitchen, Inc at 201 Somerville Ave in Somerville

  %h3 Holiday Cocktails &amp; Punches 
  %p Thursday, November 20 - Kitchen, Inc, 201 Somerville Avenue - 6:30 p.m. - 8:30 p.m.
  %p Find out what cocktail will go smashingly with your turkey dinner.  Discover the wide world of holiday punches that are sure to please even the most discerning guests.  Booze Époque will share some seasonal recipes ranging from wassail and Dickens’ punch to sherry eggnog and cranberry infusions. With these drinks in hand your holidays are sure to be merry and bright! Class limited to 16.  Ages 21+ only. $65/person.
  %p
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="26WK4Q3JMJ9Q4">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  %img(src='images/BEBacheloretteParty.jpg' alt='Teaching a class')

  %p Some of the other classes we’ve offered:

  %dl
    %dt Creating a Signature Cocktail
    %dt Tequila &amp; Mezcal Cocktails
    %dt Cocktails &amp; Literature
    %dt Aphrodisiac Cocktails
    %dt Basic Bartending Skills
    %dt Rum &amp; Tiki Cocktails

  -#%p If you're looking for a unique activity for a bachelorette, birthday, or holiday party or a fun team building exercise for your corporate event, Booze Époque's classes can be customized to fit almost any gathering! We can come to your home or office or host at our space at Kitchen, Inc. Contact us for more information at <a target="_blank" href="mailto:events@boozeepoque.com">events@boozeepoque.com</a>.  Participants must be 21 or older.

  -#%p We will be offering the following public classes over the next few months at Kitchen, Inc:

  -#%br

  -#%h3 Creating A Signature Cocktail


  -#%p Join Booze Époque's boutique bartenders, as we guide you through the process of creating a beautiful signature cocktail.  Over the course of three hours we’ll provide you with a brief history of the cocktail in America and beyond; and discuss the fundamentals of cocktail making, including tools and bartending methods.  This will be followed by a tasting of premium spirits, mixers, fresh fruit, and herbs.

  -#%p We’ll explore some of the more the unusual ingredients used in boutique bartending, and then open the class to experimentation and play.  Once you have created your cocktail we will have a tasting to sample all of the drinks. By the end of the evening you will have a delicious, unique concoction.

  -#%p The Signature Cocktail Experience is perfect for anybody hoping to know more about craft bartending, and is also great for bachelor or bachelorette parties, birthdays, celebrations, or just an interesting night out.

  -#%p Light snacks will be provided.  Limited to a group of 16. Ages 21+ only.

  -#%p $65/person

  -#.event
    -#.pay
      -#<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      -#<input type="hidden" name="cmd" value="_s-xclick">
      -#<input type="hidden" name="hosted_button_id" value="67Y5BQ78645RJ">
      -#<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      -#<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      -#</form>
    -#.title Creating a Signature Cocktail
    -#.date Friday, June 6, 2014
    -#.time 6:30 p.m. - 9:30 p.m.

  -#%br

  -#%h3 Tequila and Mezcal Cocktails for Cinco de Mayo and Beyond

  -#%p Explore the world of tequila from the highlands and lowlands of Jalisco and mezcal from beyond. We will walk you through a brief, colorful history of mezcal and tequila. And you'll have the opportunity to experiment with an array of ingredients perfect for creating agave based cocktails.

  -#%p Light snacks will be provided. Limited to 16 participants. Ages 21+ only.

  -#%p <strike>$65/person</strike> Two day sale! $45/person

  -#.event
    -#.pay
      -#<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      -#<input type="hidden" name="cmd" value="_s-xclick">
      -#<input type="hidden" name="hosted_button_id" value="2V85MZGBDXTWQ">
      -#<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      -#<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      -#</form>
    -#.title Tequila and Mezcal Cocktails for Cinco de Mayo and Beyond
    -#.date Thursday, April 24, 2014
    -#.time 6:30 p.m. - 9:30 p.m.

  -#%p Classes held at:

  -#%p
    -#Kitchen, Inc
    -#%br
    -#201 Somerville Avenue
    -#%br
    -#Somerville, MA 02143

  -#%p Stay tuned for more upcoming classes and events!

  -#%img(src='images/regpage2.jpg' alt='Tools of the Trade')
