#classes.hidden
  %p We will be offering the following public classes over the next few months at Kitchen, Inc!  If you’d like to set up a private class please contact events@boozeepoque.com.  Classes limited to 16 participants.

  %h3 Creating A Signature Cocktail

  %p Join Booze Époque, boutique bartenders, as we guide you through the process of creating a beautiful signature cocktail.  Over the course of three hours we’ll provide you with a brief history of the cocktail in America and beyond; and discuss the fundamentals of cocktail making, including tools and bartending methods.  This will be followed by a tasting of premium spirits, mixers, fresh fruit, and herbs.

  %p We’ll explore some of the more the unusual ingredients used in boutique bartending, and then open the class to experimentation and play.

  %p Once you have created your cocktail we will have a tasting to sample all of the drinks. By the end of the evening you will have a delicious, unique concoction.

  %p The Signature Cocktail Experience is perfect for anybody hoping to know more about craft bartending, and is also great for bachelor or bachelorette parties, birthdays, celebrations, or just an interesting night out.

  %p The course will be held in our kitchen space in Somerville, MA.

  %p Light snacks will be provided.  Limited to a group of 16. Ages 21+ only.

  %p $65/person

  .event
    .title Creating A Signature Cocktail
    .date Wednesday, July 10, 2013
    .time 6:00 p.m. - 9:00 p.m.

  .event
    .title Creating A Signature Cocktail
    .date Thursday, August 22, 2013
    .time 6:00 p.m. - 9:00 p.m.

  .event
    .title Creating A Signature Cocktail
    .date Thursday, September 26, 2013
    .time 6:00 p.m. - 9:00 p.m.

  %p Classes held at:

  %p
    Kitchen, Inc
    %br
    201 Somerville Avenue
    %br
    Somerville, MA 02143

  %p Stay tuned for more upcoming classes and events!
