#faq.hidden
  %h3 Frequently Asked Questions

  .q How much do your services cost?
  .a Our 2015 non-holiday hourly bartending service rate is $175/hour for two bartenders (Meaghan and Harmony). For large events we often bring in additional barback staff at $35/hour per staff member.  Please inquire about holiday rates via email: <a target="_blank" href="mailto:events@boozeepoque.com">events@boozeepoque.com</a>.

  .q What is your menu cost?
  .a Our menus are highly customized so cost will vary depending on the size of the event, the cocktails created, the ingredients used, and the number of drinks served.  We work closely with each client to ensure the menu beautifully reflects their vision.

  .q How are the menus created?
  .a We have a wonderful selection of cocktail recipes comprised of both classic and Booze Époque signature recipes.  We love collaboration with our clients and are happy to work from our current list of cocktails or create something entirely new.  We will work with you to establish a unique menu that showcases your event.  

  .q Do you make all of your own ingredients?
  .a With the exception of the spirits and a few other products we make our own syrups, juices, and garnishes and use as many fresh products as possible in our cocktails. 

  .q Do you have insurance?
  .a Yes! We have a two million dollar general liability policy and a two million dollar liquor liability policy.

  .q Do you have any other certifications?
  .a Yes!  We are TIPS certified and ServSafe manager certified.

  .q Can I have an open bar? cash bar?
  .a We are licensed to have both open and cash bars.  We’d be happy to discuss the benefits of each with you if you have particular questions.

  .q Do you provide glassware?
  .a We can provide a limited selection of glassware for parties of under 30 people.  For parties over that size we are happy to recommend some glassware rental options on our <a class="to-section" href="#vendors">recommended vendors page</a>.  

  .q Can we hire just one bartender?
  .a Meaghan and Harmony work as a team so it’s not possible to just hire one.  They are a dynamic duo and having them both at the event adds to the Booze Époque experience.

  .q What types of events can you work?
  .a We try to do it all!  We’ve bartended at corporate events, weddings, bachelorette parties, art openings, birthdays, holidays, theme parties and more!

  .q What size events can you work?
  .a We can work events ranging from cozy dinner parties to medium sized weddings.   We typically do not work events with over 150 guests as we like to keep the experience as intimate and customized as possible.  

  .q How far in advance should I book my event?
  .a If your event is on a desirable day, a holiday or weekend, we recommend booking at least two months in advance.  If your event is during the week we recommend booking at least a month in advance.  

  .q Do you teach classes?
  .a Yes! We have a rotating schedule of classes so please check out our upcoming events page for information.  We typically teach in our kitchen space in Somerville, but also occasionally teach at Cambridge Center for Adult Education.  We are also available for in-home classes, so please contact us for details. 

  .q How many hours can you bartend for?
  .a We actively bartend between two and five hours not including set-up and breakdown.  We are not permitted serve drinks for more than 5 hours.  In addition we must abide by Massachusetts state laws regarding last call.  We typically arrive 45 minutes to 1 hour before the event start time for set-up, and typically stay 30-45 minutes after the event for break-down.   

  .q Where can you work?
  .a We are able to work in private homes and some venues.  Whether your venue will allow outside caterers depends on their in-house rules.  We’re happy to help you determine whether Booze Époque will be able to attend your event. Currently we are only taking clients whose events are located in Massachusetts.  

  .q What do you wear?
  .a Most often we wear pretty dresses.  If you have a particular request for attire we would be happy to discuss it with you. 

  .q What will you bring with you?
  .a We bring tables, table cloths, bar tools, coolers, ingredients, ice, alcohol, straws, stirrers and napkins.  If there is anything else you would like us to bring please let us know. 

  .q I have a food allergy can you work with me?
  .a Absolutely.  We take food allergies very seriously and always want to create a menu that is safe for you and your guests. 

  .q What do you have for non-drinkers?
  .a We make all of our juices and syrups from scratch and mix on-site so we are happy to serve non-imbibers and those under 21 non-alcoholic spritzers made with our products.  We always have flat water on hand at the bar, and upon request can have seltzer or club soda. 

  .q Do you have a full bar?
  .a Because each menu is highly customized and our products are so fresh we do not travel with a full bar.  We will bring everything needed to fulfill your menu choices and if there are additional ingredients requested we can usually accommodate if the request is made at least a week in advance of the event. 

