#menus.hidden

  %p
    Here are some examples of drinks we’ve offered at our events.

  %dl
    %dt Mercado
    %dd gin, ginger-basil-lime simple syrup, pomelo and clementine juiced

    %dt New England Old Fashioned
    %dd bourbon, brandied maple cranberries, blood orange peel, black walnut bitters

    %dt Baransu
    %dd chardonnay, shiso, cucumber

    %dt Service With A Snarl
    %dd bourbon, Aperol, Root, Bonal, Peychaud’s bitters, Fever Tree bitter lemon.

    %dt Secret Garden
    %dd vodka, fresh lemon juice, pear, sorrel, simple syrup, Crémant de Bourgogne Brut

    %dt Day-O
    %dd spiced rum, banana simple syrup, lime juice, coffee bitters, brown sugar, espresso and cinnamon rim

    %dt Rosemary’s Baby
    %dd vodka, rhubarb juiced, lemon juice, rosemary, turbinado sugar, club soda

    %dt Zombie 1934
    %dd dark rum, gold rum, spiced rum, falernum liqueur, chartreuse, lime juice, grapefruit juice, cinnamon syrup, bitters, grenadine

    %dt Babeiation
    %dd gin, raspberry infused Cocci Americano, Luxardo Maraschino, Creme de Violette,  basil, lemon juice, raspberry

