#menus.hidden
  %p
    Here are just a few of our original creations.  We always look forward to collaborating with clients on new menu ideas.

  %dl

    %dt New England Old Fashioned
    %dd bourbon, brandied maple cranberries, blood orange, black walnut bitters

    %dt Heartbeet
    %dd vodka, beet juice, rose cardamom syrup, lemon, club soda

    %dt Mercado
    %dd gin, ginger-basil-lime simple syrup, pomelo and clementine juiced

    %dt Day-O
    %dd spiced rum, banana simple syrup, lime juice, coffee bitters, brown sugar, espresso and cinnamon rim

    %dt Paris 75
    %dd cognac, orange juice, honey, lavender bitters, bubbles

    %dt La Belle Vie
    %dd calvados, pear liqueur, flower water, pear, apple, tarragon, champagne

    %dt Harry Nilsson
    %dd blanco tequila, coconut cream, housemade sour, toasted coconut rim

    %dt Batted Lashes
    %dd brandy, lapsang souchong, cherry syrup, meyer lemon, bitters

    %dt Lovely Loretta
    %dd mezcal, fresh ginger juiced, honey, lemon, ginger sugar and salt rim

