#merch.hidden
  %p We’re so excited to be able to share this amazing artwork by Mister Reusch (misterreusch.com/) with all of you!  Thanks to Hemlock Ink (hemlockink.com) for doing a  fantastic job of digitally printing this image to our shirts.  

  %p If you need a size we currently don’t have please shoot us an email at events@boozeepoque.com and we’ll see what we can do.  

  %p All shirts come with BÉ sticker.

  %img(src='/images/BECMYKcoastrsticker.jpg' alt='Booze Époque sticker')

  %br

  %p
    %b Ladies'

  %img(src='/images/BEladiestank.jpg' alt="Booze Époque ladies' T")

  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="NC9DZU8R32J6C">
  <table>
  <tr><td><input type="hidden" name="on0" value="Ladies Shirts">Ladies Shirts</td></tr><tr><td><select name="os0">
  <option value="Ladies S">Ladies S $12.00 USD</option>
  <option value="Ladies M">Ladies M $12.00 USD</option>
  <option value="Ladies L">Ladies L $12.00 USD</option>
  <option value="Ladies XL">Ladies XL $12.00 USD</option>
  </select> </td></tr>
  </table>
  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

  %br

  %p
    %b Men's

  %img(src='/images/BEmenst.jpg' alt="Booze Époque men's T")

  <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="EYRS5VFTWLHGY">
  <table>
  <tr><td><input type="hidden" name="on0" value="Men's Shirts">Men's Shirts</td></tr><tr><td><select name="os0">
  <option value="Men's M">Men's M $12.00 USD</option>
  <option value="Men's L">Men's L $12.00 USD</option>
  <option value="Men's XL">Men's XL $12.00 USD</option>
  </select> </td></tr>
  </table>
  <input type="hidden" name="currency_code" value="USD">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>


