#photos.hidden
  #carousel-photo
  %ul#carousel.elastislide-carousel
    = raw @photos.shuffle.map{|file| %Q{<li><img src="/images/gallery/thumbs/#{file}" data-image="/images/gallery/#{file}" alt="#{file}"></li>} }.join("\n")

