#photos.offscreen

  %p &nbsp;
  %p &nbsp;
  %p &nbsp;

  #galleria
    = raw @photos.shuffle.map{|file| %Q{<li><img src="/images/gallery2/#{file}" data-image="/images/gallery2/#{file}" alt="#{file}" />} }.join("\n")

