#press.hidden

  %p Here's what the press has been saying about Booze Époque:

  .blurb
    %a.where(target='_blank' href='http://www.improper.com/features/mobile-mixology/')
      Mobile Mixology - Improper Bostonian - April 2014
    %blockquote
      Emphasizing local, organic and seasonal ingredients in their catering work, they also teach classes at Somerville’s Kitchen Inc. and offer in-home instruction—followed by sampling, of course—in signature cocktail making, tailored for small groups or celebrations. 

  .blurb
    %a.where(target='_blank' href='http://drink.bostonchefs.com/2014/03/13/build-your-cocktails-with-confidence/')
      Build Your Cocktail With Confidence - Bostonchefs.com - March 13, 2014
    %blockquote
      Meaghan Sinclair and Harmony Dawn are taking the mystery out of mixology, teaching the fundamentals and giving folks the confidence to make first-rate drinks at home.

  .blurb
    %a.where(target='_blank' href='http://edibleboston.com/booze-epoque/')
      Booze Époque - Edible Boston, Drinks Issue -  February 2014
    %blockquote
      Their cocktails are anything but ordinary. Instead of mixing a traditional Old Fashioned, for example, they’ve developed their own spin (what they call the “New England Old Fashioned”) with black walnut bitters, bourbon, brandy maple cranberries, and kumquats. Then there’s their most recent creation: a beet, cardamom, rose water, lemon, and vodka cocktail. It doesn’t sound like those flavors would go well together, but what you get is a drink that’s both earthy and refreshing.

  .blurb
    %a.where(target='_blank' href='http://drink.bostonchefs.com/2013/06/27/epoque-drinks/')
      Drink Like A Pro - Époque Drinks - 06/27/2013
    %blockquote
      Heavily influenced by the local food movement and seasonality, these ladies will ensure that the drink in your glass is a perfect representation of your theme and what’s in season whether you’re planning a pétanque tournament or a Yankee swap. And after having run into them at a recent Somerville event, and tasting two of their delicious punches, we can safely say that they know what they’re doing.

  .blurb
    %a.where(target='_blank' href='http://awesomesauceeats.wordpress.com/2013/08/24/shout-out-to-booze-epoque/')
      Shout out to Booze Époque! - Awesomesauce Eats - 08/24/2013
    %blockquote
      The ladies of Booze Époque are very chill, friendly, and awesome in person.  The class deviated a bit halfway through, but Booze Époque were ok with it and had no problems shifting their presentations.

  .blurb
    .where Scene Magazine - Fall 2013 - Scene Stealers
    %blockquote
      Can alcohol be art? For Meaghan Sinclair and Harmony Dawn the answer is yes.  Their company, Booze Époque, seamlessly blends artistry, convenience, and magic.

  .blurb
    %a.where(target='_blank' href='http://www.bostonmagazine.com/weddings/article/2013/07/02/wedding-experts-booze-epoque/')
      The Mix Masters - Boston Magazine, Boston Weddings - Fall/Winter 2013
    %blockquote Forget bar menus limited to plain champagne, red and white wine, and chocolate martinis. Meaghan Sinclair and Harmony Dawn, the spirited duo behind Booze Époque, create locally sourced cocktails that match a couple’s wedding style.

  .blurb
    %a.where(target='_blank' href='http://digboston.com/experience/2013/01/preview-booze-epoque-tiki-night-at-the-corner-pub/')
      Booze Époque Tiki Night @ The Corner Pub - Dig Boston - 1/10/2013
    %blockquote You know those elaborate cocktails you see on Pinterest that you always think you’ll make but end up just cracking a beer instead? This is the event to hit up if you really want to sample a fresh and complex cocktail (especially of the pineapple sort).  Booze Époque is run by pair of ladies who are sure to wow you with their sensational mixology.

  .blurb
    %a.where(target='_blank' href='http://somervillebeat.com/food/2987/perfect-blend-booze-epoque-crafting-more-than-just-cocktails/')
      Perfect Blend: Booze Époque Crafts Uncommon Cocktails - Somerville Beat - 2/25/2013
    %blockquote In addition to creating original drinks or twists on traditional beverages, Sinclair and Dawn handmake many of the ingredients they use in their cocktails. I was lucky enough to try several of their simple syrups, shrubs and garnishes (as well as their incredible homemade grenadine). After tasting them all, I can truly say these women are creating something special, with rich and sometimes surprising flavors that are truly unique.

  .blurb
    %a.where(target='_blank' href='http://bostonglobe.com/lifestyle/food-dining/2013/02/26/enjoy-dinner-chez-vous-cooked-chef/iaFik4UhPIa5y96SGIUbNO/story.html')
      Kitchensurfing connects hosts with a professional cook - Boston Globe - 2/26/2013	
    %blockquote First, let Meaghan Q. Sinclair and Harmony Dawn of Booze Époque serve some of their boutique cocktails, perhaps the “Mercado” of basil, lime, ginger, and gin or one of their 100 different martinis.

  .blurb
    %a.where(target='_blank' href='http://thephoenix.com/Boston/food/152873-diy-drinking-house-made-ingredients-are-raising-t/')
      DIY Drinks: Housemade ingredients are raising the bar - Boston Phoenix - 3/12/2013	
    %blockquote "It's like the art world. You can find beautiful art out there, but you can still be inspired to create something new," Sinclair says. "We just really love the process of creation. When I get excited about a flavor, I want to share with people."

  .blurb
    %a.where(target='_blank' href='http://www.boston.com/lifestyle/food/blogs/cocktail/2013/04/booze_epoque_meaghan_and_harmony.html')
      Straight Up: Booze Époque: Meaghan and Harmony - Boston.com - 4/2/2013
    %blockquote Booze Époque Mission statement: "boutique cocktails &amp; spirit alchemy for private parties and events." Honestly, that is just the tip of the iceberg, co-creators Meaghan Sinclair and Harmony Dawn Kelly bring even more to the table. Wow, did they blow me away with a high level of skill (leaps and bounds over me) and more importantly, hospitality.

  .blurb
    %a.where(target='_blank' href='http://communityblog.yelp.com/2013/02/come-on-and-kitchensurfing-safari-with-boston-elites.html')
      Come On and (Kitchensurfing) Safari with Boston Elites! - Yelp Community Blog - 2/14/2013
    %blockquote Thirsts stirred by the barrage of bites were sated by brilliant bespoke concoctions from Booze Époque...

  .blurb
    %a.where(target='_blank' href='http://digboston.com/boston-food-drinks/2013/07/cocktail-party-booze-epoque-kitchen-inc/')
      Cocktail Party: Booze Époque @ Kitchen, Inc - Dig Boston - July 10, 2013


  %p And a few recipes we've published...

  .blurb
    %a.where(target='_blank' href='http://www.bostonmagazine.com/weddings/article/2014/01/07/signature-drink-recipes-weddings/')
      Sip, Sip, Hooray! - Boston Magazine, Boston Weddings Spring/Summer 2014

  .blurb
    %a.where(target='_blank' href='http://www.garden.org/articles/articles.php?q=show&id=3801')
      Love from the Garden: Four Garden-Inspired Drinks for Valentine s Day - Garden.org, February 2014

  .blurb
    .where London Calling (recipe) - Where To Drink Boston - Issue 8 (Summer/Fall 2013)

  .blurb
    %a.where(target='_blank' href='http://www.boston.com/lifestyle/food/blogs/cocktail/2013/07/summer.html')
      Summer - Boston.com - July 12, 2013 by Josh Childs

  .blurb
    %a.where(target='_blank' href='http://somervillebeat.com/food/3506/seasonal-sips-stormy-weather/')
      Seasonal Sips: Stormy Weather (Recipe) - Somerville Beat - 6/20/2013

  .blurb
    %a.where(target='_blank' href='http://somervillebeat.com/food/3417/seasonal-sips-you-give-me-fever/')
      Seasonal Sips: You Give Me Fever (Recipe) - Somerville Beat - 5/23/2013

  .blurb
    %a.where(target='_blank' href='http://somervillebeat.com/food/3224/seasonal-sips-matcha-made-in-heaven/')
      Seasonal Sips: Matcha Made of Heaven (Recipe) - Somerville Beat - 4/22/2013

  .blurb
    %a.where(target='_blank' href='http://somervillebeat.com/food/3128/seasonal-sips-winters-last-stand/')
      Seasonal Sips: Winter's Last Stand (Recipe) - Somerville Beat - 3/19/2013



