#vendors.hidden
  %p These are several of Booze Époque's preferred vendors.

  %a(target='_blank' href='http://www.centralbottle.com/')
    .title Central Bottle Wine and Spirits
    .url http://www.centralbottle.com/

  %a(target='_blank' href='http://cuisineenlocale.com/')
    .title Cuisine en Locale
    .url http://cuisineenlocale.com/

  %a(target='_blank' href='http://www.foodfortheband.com/')
    .title Food for the Band
    .url http://www.foodfortheband.com/

  %a(target='_blank' href='http://www.gelology.com/')
    .title Gelology
    .url http://www.gelology.com/

  %a(target='_blank' href='http://www.ppcinc.com/')
    .title Peterson’s Party Rental
    .url http://www.ppcinc.com/

  %a(target='_blank' href='http://tableandtulip.com/')
    .title Table &amp; Tulip
    .url http://tableandtulip.com/

  %a(target='_blank' href='http://hootenannystudio.com')
    .title Hootenany Studio
    .url http://hootenannystudio.com

