#vendors.hidden
  %p These are several of Booze Époque's preferred vendors.

  %a(target='_blank' href='http://www.beourguestpartyrental.com/')
    .title Be Our Guest Party Rental
    .url http://www.beourguestpartyrental.com/

  %a(target='_blank' href='http://www.ceremony-boston.com/')
    .title Ceremony Boston
    .url http://www.ceremony-boston.com/

  %a(target='_blank' href='http://www.davegreenphoto.com/')
    .title Dave Green Photography
    .url http://www.davegreenphoto.com/

  %a(target='_blank' href='http://www.foodfortheband.com/')
    .title Food for the Band
    .url http://www.foodfortheband.com/

  %a(target='_blank' href='http://www.gelology.com/')
    .title Gelology Catering and Edible Art
    .url http://www.gelology.com/

  %a(target='_blank' href='https://www.facebook.com/KitchenIncSomerville')
    .title Kitchen, Inc
    .url https://www.facebook.com/KitchenIncSomerville

  %a(target='_blank' href='http://www.ppcinc.com/')
    .title Peterson’s Party Rental
    .url http://www.ppcinc.com/

  %a(target='_blank' href='http://www.olivesandgrace.com/')
    .title Olives &amp; Grace
    .url http://www.olivesandgrace.com/

  %a(target='_blank' href='http://pariscreperie.com/')
    .title Paris Creperie
    .url http://pariscreperie.com/

  %a(target='_blank' href='http://www.solunagardenfarm.com/')
    .title Soluna Garden Farm
    .url http://www.solunagardenfarm.com/

  %a(target='_blank' href='http://stillmansfarm.com/')
    .title Stillman's Farm
    .url http://stillmansfarm.com/

  %a(target='_blank' href='http://tableandtulip.com/')
    .title Table &amp; Tulip
    .url http://tableandtulip.com/


  %p And some organizations we love and support:

  %a(target='_blank' href='http://cambridgelocalfirst.org/')
    .title Cambridge Local First
    .url http://cambridgelocalfirst.org/

  %a(target='_blank' href='http://girlsrockboston.org/')
    .title Girls Rock Camp Boston
    .url http://girlsrockboston.org/

  %a(target='_blank' href='http://www.somervillelocalfirst.org/')
    .title Somerville Local First
    .url http://www.somervillelocalfirst.org/

  %a(target='_blank' href='http://www.zumix.org/')
    .title Zumix
    .url http://www.zumix.org/
